<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.surpass.vision.mapper.PointGroupDataMapper">
  <resultMap id="BaseResultMap" type="com.surpass.vision.domain.PointGroupData">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="shared" jdbcType="VARCHAR" property="shared" />
    <result column="points" jdbcType="VARCHAR" property="points" />
    <result column="otherRule1" jdbcType="VARCHAR" property="otherrule1" />
    <result column="otherRule2" jdbcType="VARCHAR" property="otherrule2" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, name, owner, creater, shared, points, otherRule1, otherRule2
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_pointGroup
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_pointGroup
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertAndGetId" parameterType="com.surpass.vision.domain.PointGroupData">
    insert into t_pointGroup (id, type, name, 
      owner, creater, shared, 
      points, otherRule1, otherRule2
      )
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{owner,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, #{shared,jdbcType=VARCHAR}, 
      #{points,jdbcType=VARCHAR}, #{otherrule1,jdbcType=VARCHAR}, #{otherrule2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.surpass.vision.domain.PointGroupData">
    insert into t_pointGroup
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="owner != null">
        owner,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="shared != null">
        shared,
      </if>
      <if test="points != null">
        points,
      </if>
      <if test="otherrule1 != null">
        otherRule1,
      </if>
      <if test="otherrule2 != null">
        otherRule2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="owner != null">
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="shared != null">
        #{shared,jdbcType=VARCHAR},
      </if>
      <if test="points != null">
        #{points,jdbcType=VARCHAR},
      </if>
      <if test="otherrule1 != null">
        #{otherrule1,jdbcType=VARCHAR},
      </if>
      <if test="otherrule2 != null">
        #{otherrule2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.surpass.vision.domain.PointGroupData">
    update t_pointGroup
    <set>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="owner != null">
        owner = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="shared != null">
        shared = #{shared,jdbcType=VARCHAR},
      </if>
      <if test="points != null">
        points = #{points,jdbcType=VARCHAR},
      </if>
      <if test="otherrule1 != null">
        otherRule1 = #{otherrule1,jdbcType=VARCHAR},
      </if>
      <if test="otherrule2 != null">
        otherRule2 = #{otherrule2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.surpass.vision.domain.PointGroupData">
    update t_pointGroup
    set type = #{type,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      owner = #{owner,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      shared = #{shared,jdbcType=VARCHAR},
      points = #{points,jdbcType=VARCHAR},
      otherRule1 = #{otherrule1,jdbcType=VARCHAR},
      otherRule2 = #{otherrule2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>