<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.surpass.vision.mapper.DepartmentInfoMapper">
  <resultMap id="BaseResultMap" type="com.surpass.vision.domain.DepartmentInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="departName" jdbcType="VARCHAR" property="departname" />
    <result column="departDesc" jdbcType="VARCHAR" property="departdesc" />
    <result column="graphs" jdbcType="VARCHAR" property="graphs" />
    <result column="xygraph" jdbcType="VARCHAR" property="xygraph" />
    <result column="realtimedata" jdbcType="VARCHAR" property="realtimedata" />
    <result column="alertdata" jdbcType="VARCHAR" property="alertdata" />
    <result column="historydata" jdbcType="VARCHAR" property="historydata" />
    <result column="linealertdata" jdbcType="VARCHAR" property="linealertdata" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, departName, departDesc, graphs, xygraph, realtimedata, alertdata, historydata, 
    linealertdata
  </sql>
  <select id="selectByExample" parameterType="com.surpass.vision.domain.DepartmentInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_department
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_department
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_department
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.surpass.vision.domain.DepartmentInfoExample">
    delete from t_department
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.surpass.vision.domain.DepartmentInfo">
    insert into t_department (id, departName, departDesc, 
      graphs, xygraph, realtimedata, 
      alertdata, historydata, linealertdata
      )
    values (#{id,jdbcType=INTEGER}, #{departname,jdbcType=VARCHAR}, #{departdesc,jdbcType=VARCHAR}, 
      #{graphs,jdbcType=VARCHAR}, #{xygraph,jdbcType=VARCHAR}, #{realtimedata,jdbcType=VARCHAR}, 
      #{alertdata,jdbcType=VARCHAR}, #{historydata,jdbcType=VARCHAR}, #{linealertdata,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.surpass.vision.domain.DepartmentInfo">
    insert into t_department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="departname != null">
        departName,
      </if>
      <if test="departdesc != null">
        departDesc,
      </if>
      <if test="graphs != null">
        graphs,
      </if>
      <if test="xygraph != null">
        xygraph,
      </if>
      <if test="realtimedata != null">
        realtimedata,
      </if>
      <if test="alertdata != null">
        alertdata,
      </if>
      <if test="historydata != null">
        historydata,
      </if>
      <if test="linealertdata != null">
        linealertdata,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="departname != null">
        #{departname,jdbcType=VARCHAR},
      </if>
      <if test="departdesc != null">
        #{departdesc,jdbcType=VARCHAR},
      </if>
      <if test="graphs != null">
        #{graphs,jdbcType=VARCHAR},
      </if>
      <if test="xygraph != null">
        #{xygraph,jdbcType=VARCHAR},
      </if>
      <if test="realtimedata != null">
        #{realtimedata,jdbcType=VARCHAR},
      </if>
      <if test="alertdata != null">
        #{alertdata,jdbcType=VARCHAR},
      </if>
      <if test="historydata != null">
        #{historydata,jdbcType=VARCHAR},
      </if>
      <if test="linealertdata != null">
        #{linealertdata,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.surpass.vision.domain.DepartmentInfoExample" resultType="java.lang.Long">
    select count(*) from t_department
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_department
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.departname != null">
        departName = #{record.departname,jdbcType=VARCHAR},
      </if>
      <if test="record.departdesc != null">
        departDesc = #{record.departdesc,jdbcType=VARCHAR},
      </if>
      <if test="record.graphs != null">
        graphs = #{record.graphs,jdbcType=VARCHAR},
      </if>
      <if test="record.xygraph != null">
        xygraph = #{record.xygraph,jdbcType=VARCHAR},
      </if>
      <if test="record.realtimedata != null">
        realtimedata = #{record.realtimedata,jdbcType=VARCHAR},
      </if>
      <if test="record.alertdata != null">
        alertdata = #{record.alertdata,jdbcType=VARCHAR},
      </if>
      <if test="record.historydata != null">
        historydata = #{record.historydata,jdbcType=VARCHAR},
      </if>
      <if test="record.linealertdata != null">
        linealertdata = #{record.linealertdata,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_department
    set id = #{record.id,jdbcType=INTEGER},
      departName = #{record.departname,jdbcType=VARCHAR},
      departDesc = #{record.departdesc,jdbcType=VARCHAR},
      graphs = #{record.graphs,jdbcType=VARCHAR},
      xygraph = #{record.xygraph,jdbcType=VARCHAR},
      realtimedata = #{record.realtimedata,jdbcType=VARCHAR},
      alertdata = #{record.alertdata,jdbcType=VARCHAR},
      historydata = #{record.historydata,jdbcType=VARCHAR},
      linealertdata = #{record.linealertdata,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.surpass.vision.domain.DepartmentInfo">
    update t_department
    <set>
      <if test="departname != null">
        departName = #{departname,jdbcType=VARCHAR},
      </if>
      <if test="departdesc != null">
        departDesc = #{departdesc,jdbcType=VARCHAR},
      </if>
      <if test="graphs != null">
        graphs = #{graphs,jdbcType=VARCHAR},
      </if>
      <if test="xygraph != null">
        xygraph = #{xygraph,jdbcType=VARCHAR},
      </if>
      <if test="realtimedata != null">
        realtimedata = #{realtimedata,jdbcType=VARCHAR},
      </if>
      <if test="alertdata != null">
        alertdata = #{alertdata,jdbcType=VARCHAR},
      </if>
      <if test="historydata != null">
        historydata = #{historydata,jdbcType=VARCHAR},
      </if>
      <if test="linealertdata != null">
        linealertdata = #{linealertdata,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.surpass.vision.domain.DepartmentInfo">
    update t_department
    set departName = #{departname,jdbcType=VARCHAR},
      departDesc = #{departdesc,jdbcType=VARCHAR},
      graphs = #{graphs,jdbcType=VARCHAR},
      xygraph = #{xygraph,jdbcType=VARCHAR},
      realtimedata = #{realtimedata,jdbcType=VARCHAR},
      alertdata = #{alertdata,jdbcType=VARCHAR},
      historydata = #{historydata,jdbcType=VARCHAR},
      linealertdata = #{linealertdata,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>